header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 1vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer {
	text-align: center;
	padding: 40px;
}

.fourzerofour {
	text-align: center; 
	color: $link-color;
}